@import model.Ctch
@(ctch: Ctch)(implicit request: RequestHeader)
<div class="card">
    <h5 class="card-header">Edit your catch, @ctch.name</h5>
    <div class = "card-body">
        <form method="POST">
            <div class ="mb-3">
                @helper.CSRF.formField
                <input name="id" type= "hidden" type="number" value="@ctch.id"/>
                <input name="userId" type= "hidden" type="number" value="@ctch.userId"/>
                <input name="name" type= "hidden"  type="text" value="@ctch.name"/>
                <select name="species" class="mb-3 form-select" type="text">
                    <option selected value="@ctch.species">@ctch.species</option>
                    <option value="Pike">Pike</option>
                    <option value="Perch">Perch</option>
                    <option value="Zander">Zander</option>
                </select>
                <input class="mb-3 form-control" type="text" placeholder="cm" value="@ctch.length" readonly/>
                <input name="length" type="range" class="form-range" value="@ctch.length" min="25" max="150" oninput="this.previousElementSibling.value = this.value">
                <button formaction ="@routes.HomeController.updateCtch" class="btn btn-sm btn-primary float-end ms-2" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
