@import model.Ctch
@(ctches: Seq[Ctch])
<div class="card">
    <div class="card-header fw-bold">
        <div class="row">
            <div class="col-3">
                Name
            </div>
            <div class="col-3">
                Species
            </div>
            <div class="col-3">
                Length
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        @for(ctch <- ctches){
            <li class="list-group-item">
                <div class="row">
                    <div class="col-3">
                    @ctch.name
                    </div>
                    <div class="col-3">
                    @ctch.species
                    </div>
                    <div class="col-3">
                    @ctch.length
                    </div>
                    <div class="col">
                        <form method="POST">
                            <input type="hidden" name="id" type="text" value="@ctch.id"/>
                            <input type="hidden" name="name" type="text" value="@ctch.name"/>
                            <input type="hidden" name="species" type="text" value="@ctch.species"/>
                            <input type="hidden" name="length" type="number" value="@ctch.length"/>
                            <button formaction="@routes.HomeController.deleteCtch" class="btn btn-sm btn-outline-primary float-end mx-1" type="submit">Delete</button>
                            <button formaction="@routes.HomeController.duplicateCtch" class="btn btn-sm btn-outline-primary float-end mx-1" type="submit">&nbsp;Clone&nbsp;</button>
                            <button formaction="@routes.HomeController.showCtch" class="btn btn-sm btn-outline-primary float-end mx-1" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>