@()
<div class="text-center pt-5 sticky-top">
    <h1 class="display-1 text-prime">Fish on?</h1>
    <h2 class="display-6 text-second mt-3">Submit your Catch Reports and see how you fare against the best fishermen in Europe.</h2>
    <div class="mt-5">
        <a class="btn  btn-secondary me-1" href="@routes.HomeController.login(Option("Test accounts: Jan -> pass ; Linda -> pass ; Finn -> pass"))">Log in</a>
        <a class="btn  btn-primary" href="@routes.HomeController.signup(Option(""))">Sign up</a>
    </div>
</div>
